.page-header {
  
    padding: 51px;
}
.header {
    padding: 20px;
}
#btnRegister {
    font-size: 5em;
}
.password {
    /*padding: 5px;*/
    padding-bottom: 1px;
}
.error {
    /*max-height: 200px;*/
    bottom: 20px;
    max-width: 565px;
}
.content {
    background-color: teal;
    width: 400px;
    height: 435px;
}
#blank {
    min-height: 100px;
}
.img-fluid {
    position: center;
}
/*.card-block {
    padding: 50px;
    height: 100px;
}*/
.loginCard {
    padding: 0px;
}

body {
    background-color: whitesmoke;
}
