
.site-header {
  
    padding: 34.5px;
}
#lblWelcome {
    cursor: default;
}
#title, .modal-title  {
    color: darkslategray;
}
.divider {
     background-color: whitesmoke;
}

.control-label {
    color: red;
    padding-right : 20px;
}
.btnLogout {
   color: #000000; 
   text-decoration: none; 

}
a.btnLogout:hover {
     text-decoration: none;
}
.dropdown-menu {
    background-color: teal;
    color: teal
}
.navbar, .navbar-nav {
    background-color: teal;
}
.header {
    padding: 30px;
}
.navbar-toggle collapsed {
    border: 1px solid white;
}
#btnRegister {
    font-size: 5em;
}
/*tr:hover {
    background-color: #f5f5f5;
    color: darkslategray;
}*/
.table {
    background-color: white;
    color: darkslategray;
}
.password {
    padding-bottom: 1px;
}
.error {
    bottom: 20px;
    max-width: 565px;
}
/*.table-hover {
    background-color: white;
}*/
.content {

    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../WebImages/Beach Therapy.jpg');
     height: 518px;
}
#blank {
    min-height: 100px;
}
.img-fluid {
    position: center;
}
.loginCard {
    padding: 0px;
}
.h2-responsive {
    color: teal
}
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: whitesmoke;
    margin-bottom: 70px;
    color: darkslategrey;
}
.welcome {
    text-decoration: none;
    line-break: normal;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}