.navbar {
    color: red
}
.site-header {
  
    padding: 44.5px;
}
.header {
    padding: 30px;
}
#btnRegister {
    font-size: 5em;
}
.password {
    padding-bottom: 1px;
}
.error {
    bottom: 20px;
    max-width: 565px;
}
.content {
    background-color: teal;
    width: 400px;
    height: 435px;
}
#blank {
    min-height: 100px;
}
.img-fluid {
    position: center;
}
.loginCard {
    padding: 0px;
}

body {
    background-color: whitesmoke;
}
